:root {
	--primary: #EA40A4;
	--business: #3a82ee;
	--personal: var(--primary);
	--light: #EEE;
	--grey: #888;
	--dark: #313154;
	--danger: #ff5b57;

	--shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

	--business-glow: 0px 0px 4px rgba(58, 130, 238, 0.75);
	--personal-glow: 0px 0px 4px rgba(234, 64, 164, 0.75);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'montserrat', sans-serif;
}
body{
    /* background: var(--light);
    color: var(--dark); */
    background: url('/BG.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    color: var(--primary);

}
.bubble{
    width: 1.3em;
    height: 1.3em;
    border-radius: 50%;
    vertical-align: middle;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    border: 2px solid var(--business);
    box-shadow: var(--business-glow);
}
.bubble:checked {
    background-color:var(--business);
}
.bubble1{
    width: 1.3em;
    height: 1.3em;
    border-radius: 50%;
    vertical-align: middle;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    border: 2px solid var(--personal);
    box-shadow: var(--business-glow);
}
.bubble1:checked {
    background-color:var(--personal);
}
header{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px 0px;
    text-align: center;
}
.main{
    display:flex ;
    flex-direction: column;
    margin: 20px 0px;
}
.radio{
    display: flex;
    gap: 10px;
    margin: 10px 0px;
    align-items: center;
    justify-content: center;
}
.r{
    background-color: #ffffff;
    height: 70px;
    width: 140px;
    border-radius: 6px;
    padding: 15px 30px ;
    text-align: center;
}
.info{
    display: flex;
    background-color: #ffffff;
    gap: 10px;
    margin: 5px 0px;
    border-radius: 6px;
    padding:10px 5px;
 
}
.info button{
    background-color: transparent;
    border: transparent;
    cursor: pointer;
    margin-right: 7px;
    transition: all 0.3s ease-in-out;
    outline: none;
}

.info button:hover {
    background-color: var(--light);
    color: #fff;
    border-radius: 2px;
   
}
.info button:hover span {
    transform: translateY(-3px);
}

.info button span {
    display: inline-block;
    transition: transform 0.3s ease-in-out;
}
.text-list{
    background-color: transparent;
    border: transparent;
    outline: none; 
}
.text-list1{
    background-color: transparent;
    border: transparent;
    outline: none; 
    text-decoration: line;
}

.btn-pick{
    text-align: center;
    padding: 10px 0px;
    background-color: var(--primary);
    border: transparent;
    color: #ffffff;
    margin: 20px 0px;
    border-radius: 6px;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.btn-pick:hover {
    background-color: #ff69b4;
}
#input1{
    border-radius: 6px;
    width: 100%;
    padding: 10px 15px;
    outline: none;
    
    border: transparent;
}
#radio1{
    accent-color: var(--business);
    transform: scale(1.25);
    
}
#radio2{
    accent-color: var(--primary);
    transform: scale(1.25);
}